
body {
	background-color: #B7CEEC;
     }
p {
	margin-right:45px;
}
h1 {
	color: #736AFF;
}

#para1 {
	color: #736AFF;
}
table, th, td { 
	border: 2px solid #736AFF;
	padding: 10px;
	margin-left: 35px;
}

ul.beaty {
	background-color: yellow;
	margin-right: 45px;
}
