
body {
	background-color: #B7CEEC;
}
p {
	margin-right:45px;
}
h1 {
	color: #736AFF;
}

#para1 {
	color: #736AFF;
}
table, th, td { 
	border: 2px solid #736AFF;
	padding: 10px;
	margin-left: 0px;
}

ul.beaty {
	background-color: yellow;
	margin-right: 45px;
}
ol, li *{   
	background-color: yellow;
	margin-right: 45px;
}
li[target=fav] {
	color: red;
}
a.highlight:hover {
	color: red;
}

tr td {  

	background-color :#0ED7CD ;
}

tr > th {
	background-color: #736AFF;
}
form ~ h5 {
	color: #736AFF;
}
form + button {
	background-color: #736AFF;
}
